<!--behavior-->
<!--<ul>-->
<!--  <li><a routerLink="a">a component</a></li>-->
<!--  <li><a routerLink="b">b component</a></li>-->
<!--</ul>-->

<!--<button (click)="increment()">increment dataService object</button>-->
<!--<router-outlet></router-outlet>-->

<app-a></app-a>
<app-b></app-b>
<div #xxx>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut esse magni minus molestias quidem soluta voluptas voluptate! Aliquid eum, id in iusto mollitia porro unde veritatis! Consectetur, dolores, vel.</div>
